<div class="edit-modal">
  <div class="modal-header">
    <h2>Editar Ruta</h2>
    <p-button icon="pi pi-times" class="p-button-text close-button" severity="danger" (onClick)="closeEdit()"></p-button>
  </div>

  <div class="form-section">
    <div class="stations-container">
      <div class="form-group">
        <label for="code">Código</label>
        <input pInputText id="code" class="p-inputtext full-width" aria-describedby="username-help" [(ngModel)]="ruta.codigo"/>
        <small id="username-help">Ingrese el código de la ruta.</small>
      </div>

      <div class="time-field">
        <label for="horaInicio">Hora de Inicio</label>
        <p-calendar id="horaInicio" inputId="horaInicioInput" [(ngModel)]="horaInicioDate" [timeOnly]="true" [iconDisplay]="'input'" [showIcon]="true">
          <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
            <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
          </ng-template>
        </p-calendar>
        <small id="time-start-help">Ingrese la hora de inicio de la ruta.</small>
      </div>

      <div class="time-field">
        <label for="horaFin">Hora de Fin</label>
        <p-calendar id="horaFin" inputId="horaFinInput" [(ngModel)]="horaFinDate" [timeOnly]="true" [iconDisplay]="'input'" [showIcon]="true">
          <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
            <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
          </ng-template>
        </p-calendar>
        <small id="time-ends-help">Ingrese la hora final de la ruta.</small>
      </div>

      <div class="time-field">
        <label for="dias">Días</label>
        <div>
          <p-multiSelect id="dias" [options]="diasOptions" optionLabel="nombre" [(ngModel)]="selectedDias"  placeholder="Dias seleccionados" [showHeader]="false" [filter]="false" [style]="{'width': '225px'}"></p-multiSelect>
        </div>
        <small id="time-days-help">Seleccione los dias de la ruta.</small>
      </div>
    </div>
  </div>

  <div class="stations-container">
    <div class="station-list station-list-container">
      <p-pickList
        [source]="(loadingEstaciones$ | async) ? skeletonItems : estacionesNoAsignadas"
        [target]="(loadingEstaciones$ | async)? skeletonItems : estacionesAsignadas"
        sourceHeader="Estaciones No Asignadas"
        targetHeader="Estaciones Asignadas"
        [dragdrop]="true"
        [responsive]="true"
        [sourceStyle]="{ height: '290px' }"
        [targetStyle]="{ height: '290px' }"
        (onMoveToTarget)="onMoveToTarget($event)"
        (onMoveToSource)="onMoveToSource($event)"
        breakpoint="1400px">
        <p-toast />
        <ng-template let-estacion pTemplate="item">
          <ng-container *ngIf="loadingEstaciones$ | async as isLoading; else stationsTemplate">
            <div *ngIf="isLoading" class="station-box skeleton">
              <p-skeleton width="100%" height="20px" styleClass="mb-2" [style]=" {'margin-bottom': '5px' }"></p-skeleton>
              <p-skeleton width="100%" height="20px" styleClass="mb-2" [style]=" {'margin-bottom': '5px' }"></p-skeleton>
              <p-skeleton width="100%" height="20px" styleClass="mb-2"></p-skeleton>
            </div>
          </ng-container>

          <ng-template #stationsTemplate>
            <div class="station-box">
              <app-r-modulo-estacion [estacion]="estacion"></app-r-modulo-estacion>
            </div>
          </ng-template>

        </ng-template>
      </p-pickList>
    </div>
  </div>


  <div class="action-buttons">

    <p-toast />
    <p-confirmDialog />
    <p-button label="Guardar" severity="success" (onClick)="saveChanges($event)" [outlined]="true"></p-button>
    <p-button label="Cancelar" severity="secondary" class="p-button-secondary" (onClick)="closeEdit()" [outlined]="true"></p-button>
    <p-button label="Eliminar" severity="danger" (onClick)="deleteRoute($event)" [outlined]="true"></p-button>

  </div>
</div>
