<div class="modal">
  <div class="modal-header">
    <h2 class="route-code">
      <i class="icon-bus"></i>
      {{ ruta.codigo }}
    </h2>
    <p-button icon="pi pi-times" severity="danger" (click)="cerrarDetalle()"></p-button>
  </div>

  <div class="modal-content">
    <div class="schedule">
      <i class="icon-clock"></i>
      <span>{{ formatDate(horaInicioDate) }} - {{ formatDate(horaFinDate) }}</span>
    </div>

    <div class="section">
      <h3><i class="pi pi-calendar"></i> Dias de la semana:</h3>
      <ul>
        <li *ngFor="let dia of ruta.diasSemana">{{ dia }}</li>
      </ul>
    </div>

    <div class="section">
      <h3><i class="icon-map-pin"></i> Paradas:</h3>
      <ul>
        <li *ngFor="let estacion of ruta.estaciones">{{ estacion.nombre }}</li>
      </ul>
    </div>

    <div class="section">
      <h3><i class="icon-bus"></i> Buses Asignados:</h3>
      <ul>
        <li *ngFor="let bus of ruta.buses">{{ bus.modelo }} - {{ bus.placa }}</li>
      </ul>
    </div>

    <div class="section">
      <h3><i class="icon-user"></i> Conductores Asignados:</h3>
      <ul>
        <li *ngFor="let conductor of ruta.conductores">{{ conductor.nombre }} {{ conductor.apellido }}</li>
      </ul>
    </div>
  </div>
  <div class="edit-btn">
    <p-button  severity="secondary"  (click)="editarRuta()">
      <i class="pi pi-cog" style="font-size: 1rem"></i>
    </p-button>
  </div>
</div>
