@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.route-code {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.route-code i {
  margin-right: 8px;
  color: #e30613;
}

.modal-close {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal-close:hover {
  color: #e30613;
}

.modal-content {
  font-size: 16px;
}

.schedule {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.schedule i {
  margin-right: 8px;
}

.section {
  margin-bottom: 15px;
}

.section h3 {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.section h3 i {
  margin-right: 8px;
}

.section ul {
  list-style-type: disc;
  padding-left: 25px;
}

.section ul li {
  margin-bottom: 5px;
}

/* Estilos para los iconos */
[class^="icon-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



.btnEdit p-button {
  background-color: #dc2626;
}

.icon-bus { background-image: url("../../../assets/img/svg/bus.svg"); }
.icon-clock { background-image: url("../../../assets/img/svg/reloj.svg"); }
.icon-map-pin { background-image: url("../../../assets/img/svg/bus-ubicacion.svg"); }
.icon-user { background-image: url("../../../assets/img/svg/usuario.svg"); }
.icon-close { background-image: url("../../../assets/img/svg/cerrar.svg"); }
