body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  color: #333;
  line-height: 1.6;
}

.seccion {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.nav-style {
  position: sticky;
}

h1 {
  position: sticky;
  top: 0;
  background-color: #e30613;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

.container {
  position: relative;
}

.btn-guia {
  position: sticky;
  background-color: #e30613;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 1rem;
}

btn-guia:hover {
  background-color: #c30512;
}

button:hover {
  background-color: #b91c1c;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.guia-modal {
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.guia-modal img {
  height: auto;
  width: 900px;
}

.guia-modal p-button {
  justify-content: right;
}

.icon-close {
  background-image: url("../../../assets/svg/cerrar.svg");
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
}

.loading-animation ng-lottie {
  padding-top: 100px;
  width: 400px;
  height: 400px;
}
