* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Pagina de inicio*/
.pagInicio {
    font-family: 'Arial', sans-serif;
    background-image: url("../img/images/fondoTransmi.png");
    backdrop-filter: brightness(0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
