.principal {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-image: url("/assets/images/fondoTransmi.png");
  backdrop-filter: brightness(0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden
}

.logo img {
  width: 500px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background-color: #e60012;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #cc0010;
}

/*LOG IN */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

form button {
  background-color: #e60012;
  color: white;
  padding: 10px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #cc0010;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

form button {
  background-color: #e60012;
  color: white;
  padding: 10px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #cc0010;
}

a {
  color: #e60012;
  text-decoration: none;
}

a:hover {
  color: #cc0010;
  text-decoration: underline;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px;
}

.field label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.field input,
.field p-password,
.field p-dropdown {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.field input:focus,
.field p-password:focus,
.field p-dropdown:focus {
  border-color: #e60012;
  outline: none;
}

.field input.ng-invalid.ng-dirty,
.field p-password.ng-invalid.ng-dirty,
.field p-dropdown.ng-invalid.ng-dirty {
  border-color: #e60012;
}

.p-error {
  color: #e60012;
  font-size: 14px;
  margin-top: 5px;
  position: absolute;
  bottom: -20px;
  left: 0;
}
