<div class="principal">
  <div class="container">
    <div class="logo">
      <img src="/assets/images/transmilenio.png" alt="Logo TransMilenio">
    </div>
    <h1>Registro</h1>
    <form id="registerForm">
      <input type="text" name="nombre" placeholder="Nombre" required>
      <input type="text" name="apellido" placeholder="Apellido" required>
      <input type="email" name="correo" placeholder="Correo Electrónico" required>
      <input type="text" name="nombreUsuario" placeholder="Nombre de Usuario" required>
      <input type="password" name="contrasena" placeholder="Contraseña" required>
      <button type="submit" class="btn">Registrarse</button>
    </form>
    <p>¿Ya tienes una cuenta? <a>Inicia sesión aquí</a></p>
  </div>
</div>
