<div class="seccion">
  <h1>Rutas de Transmilenio</h1>
  <div class="container">
    <button (click)="mostrarGuia()" class="btn-guia">Ver Guía de Rutas</button>

    <!-- desplegamos el buscador de rutas -->
    <app-p-buscar-ruta (search)="onSearch($event)"></app-p-buscar-ruta>
    <div class="grid">

      <!-- desplegamos las rutas -->
      <app-p-modulo-ruta *ngFor="let ruta of rutas$ | async" [ruta]="ruta" (rutaSelected)="seleccionarRuta($event)"></app-p-modulo-ruta>
    </div>
    <div *ngIf="selectedRuta || guiaVisible" class="modal-backdrop" (click)="cerrarModal()"></div>

    <!-- desplegamos los detalles de la ruta seleccionada -->
    <app-p-detalles-ruta *ngIf="selectedRuta" [ruta]="selectedRuta" (close)="cerrarDetalles()"></app-p-detalles-ruta>
    <div *ngIf="guiaVisible" class="modal guia-modal">
      <button (click)="cerrarGuia()" class="modal-close">
        <i class="icon-close"></i>
      </button>
      <img src="./assets/img/images/rutasTransmi.png" alt="Rutas TransMilenio">
    </div>
  </div>
</div>
