/* Global styles */
@import url('https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card-header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
}

.card-content {
  padding: 1rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
}

button {
  padding: 0.5rem 1rem 0.5rem 0;
  background-color: #dc2626;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 10%;
}

button:hover {
  background-color: #b91c1c;
}

.text-red-600 {
  color: #dc2626;
}

.bg-red-600 {
  background-color: #dc2626;
}

.hover\:bg-red-700:hover {
  background-color: #b91c1c;
}

/* Estilos para los iconos */
[class^="icon-"] {
  display: inline-table;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 100%;
}

.loading-animation ng-lottie {
  padding-right: 5px;
  width: 400px;
  height: 400px;
}

.icon-buscar { background-image: url("../../../assets/img/svg/buscar.svg"); }
