<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión - TransMilenio</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

</head>
<body class="pagInicio">
<div class="container">
    <div class="logo">
        <img th:src="@{/assets/img/images/transmilenio.png}" alt="Logo TransMilenio">
    </div>
    <h1>Inicio de Sesión</h1>
    <form id="loginForm" th:action="@{/conductores}">
        <input type="text" name="username" placeholder="Nombre de Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit" class="btn">Ingresar</button>
    </form>
    <p>¿No tienes una cuenta? <a th:href="@{/usuarios/register}">Regístrate aquí</a></p>
</div>
<script th:src="@{assets/js/script.js}"></script>
</body>
</html>