<!DOCTYPE html>
<head>
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error - TransMilenio</title>
</head>
<body class="error-page">
<div class="container">
  <div class="logo">
    <img th:src="@{/assets/img/images/transmilenio.png}" alt="Logo TransMilenio">
  </div>
  <h1>Oops! Algo salió mal.</h1>
  <p>Lo sentimos, pero no pudimos encontrar la página que estabas buscando.</p>
  <a href="/index.html" class="btn">Volver al inicio</a>
</div>
</body>
